<!DOCTYPE html>
<html>
  <a href="{{ site.baseurl }}/" class="brand"></a>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/js/ppt.css" media="screen">

  </head>
  <body>
    <textarea id="source">
{{ content }}
    </textarea>
    <script type="text/javascript">
      var slideshow = remark.create({navigation: {scroll: false,}});
    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML&delayStartupUntil=configured" type="text/javascript"></script>


    <script type="text/javascript">
      var slideshow = remark.create({navigation: {scroll: false,},ratio: '16:9'});

      // Setup MathJax
      MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [['$', '$']],
          displayMath: [['$$','$$']],
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
          }
      });

      MathJax.Hub.Configured();
    </script>

<script src="http://remarkjs.com/downloads/remark-latest.min.js" type="text/javascript">
</script>
  <script src="{{"/js/mermaid.min.js"| prepend: site.baseurl }}" ></script>
  <link rel="stylesheet" href="/js/mermaid.css">
  <script>mermaid.initialize({startOnLoad:true});</script>
  </body>
</html>
